#home {
    display: flex;
    min-height: calc(100vh - 96px);
    max-height: calc(110vh - 96px);
}

#cta {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 28px;
}

#cta .title {
    font-size: 3.5rem;
    color: #1d1d1d;
}

#cta .title span {
    color: blue;
}

#cta .description {
    font-size: 1.5rem;
    color: darkgray;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#phone_button {
    display: flex;
    gap: 24px;
    font-weight: 500;
    box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.1);
    padding: 8px 14px;
    border-radius: 12px;
    align-items: center;
}

#banner img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}